.App {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    background: white;
    border-radius: var(--borderRadius);
    margin-top: 15px;
    box-shadow: 0 0 10px #00000020;
}